#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	dh_binary_arch
	applications/1.regen_all.sh
	application/Setups/Ubuntu/linux_ubuntu_setup.sh

override_dh_clean:
	dh_clean
	rm -Rf Installations/packaging
