#!/usr/bin/make -f

build:

build-arch: 

build-indep:

binary:

binary-arch:
	applications/1.regen_all.sh
	application/Setups/Ubuntu/linux_ubuntu_setup.sh

binary-indep:

clean:
	rm -Rf Installations/packaging
