#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	cd ../application
	1.regen_all.sh
	cd Setups/Ubuntu
	linux_ubuntu_setup.sh
	cd ../../../debian

override_dh_clean:
	dh_clean
	rm -Rf Installations/packaging
